body {
    padding-top: 55px;
}

/* ************************************************** Navbar */

.navbar {
    margin-bottom: 0;
    width: 100%;
    height: 55px;
    background-color: rgb(240, 240, 240, 0.9);
    border: 0;
}

.navbar-brand img {
    margin-right: 5px;
}

.nav-mobile {
    display: none;
}

.nav-desktop {
    display: none;
}

.nav-btns {
    display: flex;
    float: right;
}

.nav-button {
    width: 90px;
    margin-right: 10px;
    background-color: transparent;
    border-radius: 5px;
    border-color: transparent;
}

.nav-button:hover {
    background-color: grey;
    color: rgb(240, 240, 240);
}

.nav-button:focus {
    outline: 0;
}

/* ************************************************** Help window */

.help-window {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.7);
}

.help-box {
    background-color: rgb(240, 240, 240);
    margin: 15% auto;
    padding: 20px;
    position: relative;
    width: 80%;
    animation-name: helpWindow;
    animation-duration: 0.4s;
}

@keyframes helpWindow {
    from {
        left: -500px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

.help-header {
    text-align: center;
}

.help-header h2 {
    font-size: 20px;
    padding-top: 15px;
}

.help-close {
    position: absolute;
    top: 0px;
    left: 90%;
    font-size: 1.5em;
    padding-top: 10px;
}

.help-close:hover {
    color: grey;
    cursor: pointer;
}

.help-content {
    padding: 20px 30px;
}

/* ************************************************** Top */

.top-container {
    position: relative;
    text-align: center;
}

.top-pic {
    height: 300px;
    background-image: url('../images/bike-traffic.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-header {
    font-size: 25px;
    color: #C21807;
    background-color: rgba(240, 240, 240, 0.8);
    position: absolute;
    top: 77%;
    left: 0;
    padding: 5px 0;
}

.intro-container {
    padding-top: 50px;
    padding-bottom: 30px;
}

.introduction {
    border: 1px solid rgba(240, 240, 240);
    padding: 20px 10px;
    margin: 10px;
    text-align: center;
}

/* ************************************************** Stat Numbers and Pie Charts */

.stats-box {
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: rgb(240, 240, 240, 0.9);
}

.stats-title {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.stats-number {
    font-size: 30px;
    padding-bottom: 10px;
    color: #C21807;
    text-align: center;
}

div.dc-chart {
    float: none!important;
}

.pie-label._0.external {
    transform: translate(60px,3px);
}

.pie-label._1.external {
    transform: translate(-50px,45px);
}

.pie-label._2.external {
    transform: translate(-65px,-10px);
}

.pie-label._3.external {
    transform: translate(-50px,-81px);
}

.pie-label._4.external {
    transform: translate(-2px,-95px);
}

/* ************************************************** Selector */

.year-selec-container {
    padding-top: 40px;
    padding-bottom: 30px;
}

.year-selector-box {
    padding: 20px 10px;
    margin: 10px;
    border: 1px solid rgba(240, 240, 240);
    text-align: center;
}

.year-selector-dropdown {
    padding-top: 7px;
    padding-bottom: 20px;
}

.dc-select-menu {
    color: #C21807;
}

/* ************************************************** Charts */

.graph-box {
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: rgb(240, 240, 240, 0.9);
}

.chart-title {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*color: #C21807;*/
}

.chart-intro {
    padding-top: 10px;
    padding-bottom: 10px;
}

.chart-description {
    padding-top: 20px;
}

.x-axis-label {
    padding-top: 20px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 20px;
}

/* ************************************************** Back to Top Button */

.back-to-top {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.back-to-top-button {
    background-color: rgb(240, 240, 240);
}

.fa-angle-double-up {
    padding-left: 10px;
}


/* ************************************************** Footer */

footer {
    height: 55px;
    background-color: rgb(240, 240, 240);
}

.footer-text {
    font-size: 11px;
    text-align: center;
    padding-top: 15px;
}

/* ************************************************** Media Queries */

@media (min-width:378px) {
   .nav-no-name {
       display: none;
   }
   .nav-mobile {
       display: inline-block;
   }
}

@media (min-width:470px) {
    .top-header {
        top: 87%;
    }
}

@media (min-width:512px) {
    .nav-mobile {
        display: none;
    }
    .nav-desktop {
        display: inline-block;
    }
    .footer-text {
        font-size:16px;
    }
}

@media (min-width:524px) {
    .top-header {
        font-size: 28px;
        top: 86%;
    }
}

@media (min-width:1030px) {
    .help-header h2 {
        font-size: 25px;
    }
}
